<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Doem-2019-12-7</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveAttributeServlet</display-name>
		<servlet-name>RemoveAttributeServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.RemoveAttributeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetphoneServlet</display-name>
		<servlet-name>GetphoneServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.GetphoneServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisteredServlet</display-name>
		<servlet-name>RegisteredServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.RegisteredServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowBookServlet</display-name>
		<servlet-name>ShowBookServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.ShowBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShoppingCartServlet</display-name>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.ShoppingCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DelBookOrdellsitServlet</display-name>
		<servlet-name>DelBookOrdellsitServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.DelBookOrdellsitServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ButBookNameServlet</display-name>
		<servlet-name>ButBookNameServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.ButBookNameServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuyBookServlet</display-name>
		<servlet-name>BuyBookServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.BuyBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RloginServlet</display-name>
		<servlet-name>RloginServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.RloginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RdelbookMerServlet</display-name>
		<servlet-name>RdelbookMerServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.RdelbookMerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RmodifyBookServlet</display-name>
		<servlet-name>RmodifyBookServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.RmodifyBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RmodifBookInfoServlet</display-name>
		<servlet-name>RmodifBookInfoServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.RmodifBookInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RInsertBookServlet</display-name>
		<servlet-name>RInsertBookServlet</servlet-name>
		<servlet-class>cn.whcm.servlet.RInsertBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>A</display-name>
		<servlet-name>A</servlet-name>
		<servlet-class>cn.whcm.servlet.A</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AAa</display-name>
		<servlet-name>AAa</servlet-name>
		<servlet-class>cn.whcm.servlet.AAa</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveAttributeServlet</servlet-name>
		<url-pattern>/RemoveAttributeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetphoneServlet</servlet-name>
		<url-pattern>/GetphoneServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisteredServlet</servlet-name>
		<url-pattern>/RegisteredServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowBookServlet</servlet-name>
		<url-pattern>/ShowBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/ShoppingCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelBookOrdellsitServlet</servlet-name>
		<url-pattern>/DelBookOrdellsitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ButBookNameServlet</servlet-name>
		<url-pattern>/ButBookNameServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyBookServlet</servlet-name>
		<url-pattern>/BuyBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RloginServlet</servlet-name>
		<url-pattern>/RloginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RdelbookMerServlet</servlet-name>
		<url-pattern>/RdelbookMerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RmodifyBookServlet</servlet-name>
		<url-pattern>/RmodifyBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RmodifBookInfoServlet</servlet-name>
		<url-pattern>/RmodifBookInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RInsertBookServlet</servlet-name>
		<url-pattern>/RInsertBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>A</servlet-name>
		<url-pattern>/A</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AAa</servlet-name>
		<url-pattern>/AAa</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>cn.whcm.filter.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>jsp/404.jsp</welcome-file>
	</welcome-file-list>
</web-app>
